/*****************************/
/******** Base styles ********/

body {
    font-family: 'ralewayregular', sans-serif;
}

.main_width {
    width: 1055px;
    margin: 0 auto;
}

/* Section: Tariff & Aside */

.section_title {
    font-size: 21px;
    text-transform: uppercase;
    font-weight: bold;
    color: #5a5a5a;
    padding-top: 42px;
}

.underline_big {
    height: 8px;
    width: 250px;
    background-color: #27c7ab;
    margin-top: 7px;
}

/*************************/
/***** Header styles *****/

header {
    background-color: black;
    height: 41px;
}

header > div {
    line-height: 41px;
}

/*--- Title container ---*/

.title {
    color: white;
    text-transform: uppercase;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    text-decoration: none;
}

.title span {
    font-weight: bold;
    color: #27c7ab;
    padding: 0 5px 0 5px;
    font-family: 'ralewaybold';
}

/*--- Nav container ---*/

.header_nav {
    display: inline-block;
    float: right;
}

header li {
    display: inline-block;
}

header li a {
    color: white;
    font-size: 14px;
    font-weight: bold;
    font-family: 'ralewaybold';
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 45px;
    letter-spacing: 1px;
}

/*********************************/
/***** Section SLIDER styles *****/

/*- Background -*/
.slider {
    height: 505px;
    background-color: #f0f0f0;

    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 66%, rgba(207,207,209,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(66%, rgba(246,246,246,1)), color-stop(100%, rgba(207,207,209,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 66%, rgba(207,207,209,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 66%, rgba(207,207,209,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 66%, rgba(207,207,209,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 66%, rgba(207,207,209,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cfcfd1', GradientType=0 );
}

section .slider_container {
    position: relative;
    height: 504px;
}

/*- Slider -*/

section .chair {
    position: absolute;
    left: -30px;
    top: 70px;
    display: none;
}

.slider_container ul {
    list-style: none;
}

.slider_container .visible {
    display: inline-block;
}

/* Buttons: right & left */

section .click_left {
    border: 0;
    color: #27c7ab;
    font-family: 'ralewaylight';
    font-size: 80px;
    background-color: rgba(0, 0, 0, 0);
    line-height: 500px;
    position: absolute;
    left: 0;
}

section .click_right {
    border: 0;
    color: #27c7ab;
    font-family: 'ralewaylight';
    font-size: 80px;
    background-color: rgba(0, 0, 0, 0);
    line-height: 500px;
    position: absolute;
    right: 0;
}

/*--- Article container ---*/

section article {
    width: 500px;
    height: 300px;
    position: absolute;
    right: 85px;
    top: 115px;
}

.slider_text {
    width: 500px;
    height: 200px;
}

.slider .p1 {
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    padding: 19px;
}

.slider p span {
    font-weight: bold;
    color: #27c7ab;
    padding: 0 5px 0 5px;
    font-family: 'ralewaybold';
}

.slider .p2 {
    font-size: 14px;
    text-align: center;
    padding: 10px;
    margin: 0 25px 0 25px;
    letter-spacing: 1px;
    line-height: 20px;
    color: #000;
}

.see_more_button {
    color: white;
    background-color: #27c7ab;
    text-transform: uppercase;
    font-size: 24px;
    border-radius: 10px 10px 10px 10px;
    font-family: 'ralewayregular';
    padding: 10px 45px 10px 45px;
    margin: 20px 100px 0 100px;
    border: none;
}

/**********************************/
/** Section PIC_CONTAINER styles **/

.pic_container {
    height: 325px;
}

.box {
    width: 329px;
    height: 225px;
    display: inline-block;
    vertical-align: top;
    margin-top: 50px;
    border-radius: 3px 3px 3px 3px;
}

.box1 {
    background-image: url(../images/box1_img.jpg);
    margin-right: 29px;
}

.box2 {
    background-image: url(../images/box2_img.jpg);
    margin-right: 29px;
}

.box3 {
    border: 1px solid #cccccc;
}

/* Text in box */

.background {
    background-color: rgba(255, 255, 255, .4);
    height: 62px;
    margin-top: 150px;
}

.pic_container h1 {
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 1px 20px;
    padding: 20px 0 0 0;
}

.underline_small {
    height: 7px;
    width: 145px;
    background-color: #27c7ab;
    margin: 0 0 5px 20px;
}

.pic_container p {
    font-size: 14px;
    padding: 10px;
    margin-left: 10px;
    line-height: 1.3em;
    color: #5a5a5a;
}

.box .invisible {
    display: none;
}

/*********************************/
/***** Section TARIFF styles *****/

.tariff {
    background-color: #f0f0f0;
}

.tariff_container {
    height: 720px;
}

/*--- All big box ---*/

#big_box_container {
    height: 495px;
    margin-top: 75px;
}

.big_box {
    background-color: #f9f9f9;
    width: 329px;
    height: 500px;
    display: inline-block;
    vertical-align: top;
    border-radius: 3px 3px 3px 3px;
    border: 2px solid #d5d5d5;
    position: relative;
}

.tariff_name {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    color: #27c7ab;
    letter-spacing: 1px;
    text-align: center;
    margin: 27px 0 26px 0;
}

.price_container {
    border: 2px solid #d5d5d5;
    background-color: white;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 32px;
}

.price {
    font-size: 42px;
    font-family: 'ralewaybold';
    color: #c2c2c2;
    text-align: center;
    margin-top: 28px;
}

.price sup {
    font-size: 15px;
    vertical-align: super;
}

.period {
    font-weight: bold;
    color: #c2c2c2;
    font-size: 15px;
    text-align: center;
    line-height: 20px;
}

.add_tariff_button {
    position: absolute;
    color: white;
    background-color: #27c7ab;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 10px 10px 10px 10px;
    font-family: 'ralewayregular';
    padding: 9px 30px 9px 30px;
    margin: 0 auto;
    border: none;
    left: 100px;
    bottom: 17px;
    letter-spacing: 1px;
}

/*- 'p' style -*/

.text_back {
    width: 100%;
    height: 45px;
    font-size: 23px;
    text-align: center;
    line-height: 40px;
}

.light-grey_back {
    background-color: #f0f0f0;
    color: #797979;
}

.grey_back {
    background-color: #e3e3e3;
    color: #999999;
}

/*- big box 2 -*/

.big_box2 {
    margin: 0 29px 0 29px;
    border: 2px solid #27c7ab;
    background-color: #27c7ab;
}

.white_back {
    background-color: #f9f9f9;
    color: #999999;
}

.white_button {
    background-color: #f9f9f9;
    color: #27c7ab;
    font-weight: 600;
}

.white_name {
    color: white;
}

.white_container {
    border: 2px solid #27c7ab;
}

.green_font {
    color: #27c7ab;
}

/*--- Circle ---*/

.circle_big {
    position: absolute;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 2px solid #d5d5d5;
    background-color: #f9f9f9;
    top: -37px;
    left: 137px
}

.circle_small {
    position: absolute;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-color: #c5c5c5;
    top: 12px;
    left: 12px;
}

.circle_green {
    background-color: #27c7ab;
    border: 2px solid #27c7ab;
}

.circle_white {
    background-color: #f9f9f9; 
}

/********************************/
/********* Aside styles *********/

.contact {
    height: 488px;
}

/*--- Form container ---*/

.form_container {
    width: 635px;
    height: 372px;
    display: inline-block;
    margin: 34px 72px 0 0;
    vertical-align: top;
}

.element {
    width: 100%;
    border: 1px solid #a8e3d0;
    font-size: 30px;
    font-family: 'ralewaylight';
    padding: 10px;
}

.form_container input {
    height: 66px;
    margin-bottom: 26px;
}

.form_container textarea {
    resize: none;
    height: 188px;
}

.form_container ::-webkit-input-placeholder {
    color: #ccc; /* Chrome, Opera, Safari */
}

.form_container ::-moz-input-placeholder {
    color: #ccc; /* Firefox */
}

.form_container ::-ms-input-placeholder {
    color: #ccc; /* IE 10+ */
}

/*--- Send container ---*/

.send_container {
    width: 343px;
    height: 400px;
    display: inline-block;
    right: 0;
    vertical-align: bottom;
}

.red_chair {
    margin: 0 39px 0 40px;
}

.checkbox {
    height: 11%;
    padding: 5px;
    border: 1px solid #a8e3d0;
    margin-top: 40px;
}

.text_agree {
    display: inline-block;
    vertical-align: top;
    margin: 40px 0 0 10px;
    font-size:19px;
    color: #ccc;
}

.send {
    color: white;
    font-family: 'ralewaybold';
    width: 343px;
    background-color: #27c7ab;
    text-transform: uppercase;
    font-size: 32px;
    border-radius: 10px 10px 10px 10px;
    padding: 15px 0 15px 0;
    border: none;
    letter-spacing: 1px;
    margin-top: 30px;
}

/*********************************/
/********* Footer styles *********/

footer {
    height: 165px;
}

/*--- Copyright container ---*/

.copyright_container {
    width: 635px;
    display: inline-block;
    margin: 100px 72px 0 0;
}

.copyright_container h1 {
    font-size: 14px;
    color: #888;
    letter-spacing: 1px;
}

/*--- Links container ---*/

.links_container {
    width: 343px;
    display: inline-block;
    right: 0;
    vertical-align: middle;
}

.links_container img {
    float: left;
    margin-right: 2px;
}

.links_container p {
    float: right;
    line-height: 35px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #888;
}

.links_container p > span {
    font-family: 'ralewaybold';
}
