/***** Base styles *****/

body {
    font-family: 'ralewayregular', sans-serif;
}

.main_width {
    width: 1055px;
    margin: 0 auto;
}

/*************************/
/***** Header styles *****/

header {
    background-color: black;
    height: 41px;
}

header > div {
    line-height: 41px;
}
.title {
    color: white;
    text-transform: uppercase;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    text-decoration: none;
}

.title span {
    font-weight: bold;
    color: #27c7ab;
    padding: 0 5px 0 5px;
    font-family: 'ralewaybold';
}

.header_nav {
    display: inline-block;
    float: right;
}

header li {
    display: inline-block;
}

header li a {
    color: white;
    font-size: 14px;
    font-weight: bold;
    font-family: 'ralewaybold';
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 45px;
    letter-spacing: 1px;
}

/*********************************/
/***** Section SLIDER styles *****/

.slider {
    height: 505px;
    background-color: #f0f0f0;

    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 66%, rgba(207,207,209,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(66%, rgba(246,246,246,1)), color-stop(100%, rgba(207,207,209,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 66%, rgba(207,207,209,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 66%, rgba(207,207,209,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 66%, rgba(207,207,209,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 66%, rgba(207,207,209,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cfcfd1', GradientType=0 );
}

section .slider_container {
    position: relative;
    height: 504px;
}

section .chair {
    position: absolute;
    left: -30px;
    top: 70px;
}

section .click_left {
    border: 0;
    color: #27c7ab;
    font-family: 'ralewaylight';
    font-size: 65px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0);
    line-height: 500px;
    position: absolute;
    left: 0;
}

section .click_right {
    border: 0;
    color: #27c7ab;
    font-family: 'ralewaylight';
    font-size: 65px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0);
    line-height: 500px;
    position: absolute;
    right: 0;
}

section article {
    width: 500px;
    height: 300px;
    position: absolute;
    right: 85px;
    top: 115px;
}

.slider_text {
    width: 500px;
    height: 200px;
}

.slider .p1 {
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    padding: 19px;
}

.slider p span {
    font-weight: bold;
    color: #27c7ab;
    padding: 0 5px 0 5px;
    font-family: 'ralewaybold';
}

.slider .p2 {
    font-size: 14px;
    text-align: center;
    padding: 10px;
    margin: 0 25px 0 25px;
    letter-spacing: 1px;
    line-height: 20px;
    color: #000;
}

.see_more_button {
    color: white;
    background-color: #27c7ab;
    text-transform: uppercase;
    font-size: 24px;
    border-radius: 10px 10px 10px 10px;
    font-family: 'ralewayregular';
    padding: 10px 45px 10px 45px;
    margin: 20px 100px 0 100px;
    border: none;
}

/**********************************/
/** Section PIC_CONTAINER styles **/

.pic_container {
    height: 325px;
}

.box {
    width: 329px;
    height: 225px;
    display: inline-block;
    vertical-align: top;
    margin-top: 50px;
}

.box1 {
    background-image: url(../images/box1_img.jpg);
    margin-right: 29px;
}

.box2 {
    background-image: url(../images/box2_img.jpg);
    margin-right: 29px;
}

.box3 {
    border: 1px solid #cccccc;
}

.background {
    background-color: rgba(255, 255, 255, .4);
    height: 62px;
    margin-top: 150px;
}

.pic_container h1 {
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 1px 20px;
    padding: 20px 0 0 0;
}

.underline_small {
    height: 7px;
    width: 145px;
    background-color: #27c7ab;
    margin: 0 0 5px 20px;
}

.pic_container p {
    font-size: 14px;
    padding: 10px;
    margin-left: 10px;
    line-height: 1.3em;
    color: #5a5a5a;
}





/*********************************/
/***** Section TARIFF styles *****/

.tariff {
    background-color: #f0f0f0;
}

.tariff_container {
    border: 1px solid pink;
    height: 715px;
}


/********************************/
/********* Aside styles *********/

.contact {
    border: 1px solid brown;
    height: 488px;
}


/*********************************/
/********* Footer styles *********/

footer {
    border: 1px solid green;
    height: 165px;
}


